Q1
test1 = 'This is a test of the emergency text system,'

f = open('test.txt','w')

f.write(test1)

Q2.
f = open('test.txt','r')

test2 = f.read()

No there is no difference between test1 and test2 data.

Q3.import csv

row = [ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Mi√©ville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
    
with open('books.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerows(row)

Q4. import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('create table books(title varchar(20),author varchar(20), year int)')

conn.commit()

Q5.import pandas as pd

data = pd.read_csv('books.csv',encoding='unicode_escape')
data.to_sql('books', conn, if_exists='append', index = False)

Q6. cursor.execute('select title from books order by title asc')

print(c.fetchall())

Q7. cursor.execute('select title, author,year from books order by year')


df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
df

Q8.import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

Q9.!pip install redis

import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

Q10. 
conn.hincrby('test','count', 3)