In [9]:
#Q1
def is_symmetrical(num):
    num1 = num
    rev = 0
    while num != 0:
        d = num%10
        rev = rev * 10 + d
        num = num//10
    
    if rev == num1:
        return True
    else:
        return False
is_symmetrical(11211)

True

In [12]:
#Q2
def multiply_nums(s):
    mul = 1
    for i in s:
        if i.isdigit():
            mul = mul*int(i)
    return mul
multiply_nums("2, 3, 2")

12

In [25]:
#Q3
def square_digit(num):
    square = 0
    for i in str(num):
        square = square * 10 + int(i) * int(i)
    print(square)

square_digit(723)

4949

In [33]:
#Q4
def setify(l):
    new_list = []
    for i in l:
        if i in new_list:
            continue
        else:
            new_list.append(i)
    new_list.sort()
    print(new_list)

setify([1,6,2,2,3,4,1])

[1, 2, 3, 4, 6]

In [36]:
#Q5
def mean(num):
    l = len(str(num))
    sum = 0
    for i in str(num):
        sum = sum + int(i)
    print(sum//l)
mean(42)

3