In [3]:
#Q1
def km_ml():
    km = int(input("enter kilometers "))
    mile = km / 1.609
    print("kilimeter to miles is : " + str(mile))

km_ml()

enter kilometers 30
kilimeter to miles is : 18.645121193287757

In [4]:
#Q2

def to_fahrenheit():
    celcius = float(input("enter celcius : "))
    fahrenheit = celcius + 32 
    print("fahrenheit is : " + str(fahrenheit))

to_fahrenheit()

enter celcius : 10
fahrenheit is : 42.0

In [12]:
#Q3
import calendar
def display_calender():
    year = 2022
    month = 7
    print(calendar.month(year, month))

display_calender()

     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [13]:
#Q4
import cmath
def quad():
    a = 1
    b = 5
    c = 6
    d = (b**2) - (4*a*c)
    sol1 = (-b-cmath.sqrt(d))/(2*a)
    sol2 = (-b+cmath.sqrt(d))/(2*a)

    print('The solution are {0} and {1}'.format(sol1,sol2))
    
quad()

The solution are (-3+0j) and (-2+0j)

In [14]:
#Q5
def swap():
    x = 5
    y = 6
    print("before swaping: ")
    print("x = " + str(x) + " y = " + str(y))
    x,y = y,x
    print("after swaping: ")
    print("x = " + str(x) + " y = " + str(y))

swap()

before swaping:
x = 5 y = 6
after swaping:
x = 6 y = 5